@charset "utf-8";
/*初始化*/
* { margin: 0px; padding: 0px; }
body { font-family: "微软雅黑"; font-size: 12px; color: #333; line-height: 24px; background: #FFF; width: 980px; margin: 0px auto; }
a { color: #333; text-decoration: none; }
a:hover { text-decoration: underline; }
ol, ul, li { list-style-type: none; }
img { border: none; }

/*公用模块*/
#banner { clear: both; width: 980px; height: 173px; overflow: hidden }
#nav { color: #FFF; line-height: 32px; background: #FF9900; text-align: center; margin: 2px 0px 20px 0px; }
#nav a { font-size: 14px; color: #FFF; margin: 0px 10px; }
#footet { background: url(../images/b_2.jpg) repeat-x left top; clear: both; height: 48px; padding: 21px 0px; }
#footet p { font-size: 14px; color: #FFF; text-align: center; }
#footet p a { color: #FFF; margin: 0px 20px; }